.header, .nav, .main, .sidebar, .advertise, .footer{
    background-color: blanchedalmond;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    
}
.header{
    grid-area: header;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.nav{
    grid-area: nav;
    height: 200px;
    margin-top: 10px;
}
.main{
    grid-area: main;
    margin: 10px;
}
.sidebar{
    grid-area: sidebar;
    margin-top: 10px;
    height: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
   
}
.advertise{
grid-area: advertise;
margin-top: 30px;
height: 80px;
justify-content: center;
text-align: center;
display: flex;
align-items: center;

}
.footer{
    grid-area: footer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav main main sidebar"
    "nav main main advertise"
    "footer footer footer footer"
    ;
}